.song-link {
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-decoration: none;
}

.song-link:hover {
    color: #1db954;
}

.song-link:active {
    color: #1db954;
  }