/* TODO Add site wide styles */

.main-content {
    flex: 1;
    /* background-color: #333; */
    background-color: #040404;
    color: white;
}

.main-container {
    display: flex;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: green;
}

.nav-link:active {
    color: red;
  }

.small-pic {
    object-fit: contain;
    height: 40px;
    width: 40px;
}

a:link,
a:visited  {
  color: rgb(218, 209, 209);
  text-decoration: none;
}

a:hover,
a:active {
  color: white;
  text-decoration: none;
}
