.playlist {
    width: calc(100% - 250px - 10px);
    margin: 5px;
  }
  
  .playlist_title {
    margin: 0;
  }
  
  .playlist_songs {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .playlist_song {
    margin-bottom: 5px;
  }