.delete-playlist-button {
    position: fixed;
    bottom: 150px;
    right: 50px;
    height: 50px;
    background-color: #212121;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px #1db954;
}

.play-playlist-button {
    display: flex;
    background-color: #212121;
    color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    box-shadow: 2px 2px 2px 1px #1db954;
}

.playlist-title-edit-input {
    border: none;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    background-color: #282828;
    color: #fff;

}