
  .sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.2;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    max-width: 230px;
    height: 100vh;
    color: white;
    background-color: #212121;
    border-radius: 10px;
    position: fixed;
    margin-top: 8px;
    top: 0;
    bottom: 0;
  }

  .sidebar-section {
    height: 400px;
    overflow-y: auto;
  }

  .sidebar-section::-webkit-scrollbar {
    display: none;
  }

  .sidebar-section-title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
  }

  .sidebar-logo {
    color: white;
    margin-right: auto;
    object-fit: contain;
    height: 60px;
    padding: 10px;
  }

  .sidebar-nav {
    list-style-type: none;
    text-decoration: none;
  }

  .sidebar-nav-link {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 20px;
    color: white;
  }

  .sidebar-nav-link:hover  {
    color: #1db954;
  }
  .sidebar-nav-item {
    margin-bottom: 20px;
  }

  h3 {
    display: flex;
    justify-content: center;
  }

  /* #2a2a2a; */
