.song_create_container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #191414;
    color: #fff;
    border-radius: 20px;
  }
  
  .song_create_form {
    display: flex;
    flex-direction: column;
  }
  
  .song-create-label {
    margin-bottom: 2px;
    font-size: 10px;
    font-weight: bold;
  }
  
  .song-create-input,
  select {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #282828;
    color: #fff;
    font-size: 16px;
  }

  input::placeholder,
  select::placeholder {
    color: #b3b3b3;
  }
  
  .song_create_button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    background-color: #1db954;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .song_create_button:disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
  }
  
  .song_create_button:hover:not(:disabled) {
    background-color: #1ed760;
  }
  