.song-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin: 2px 2px 2px;
}

.song-label {
    width: 120px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}