.audio-player {
    background-color: black;
}

.audio-player-buttons {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 20px;
    right: 500px;
    width: 400px;
    z-index: 1;
    pointer-events: none;
}
.audio-player-buttons > * {
    cursor: pointer;
    pointer-events: auto;
}

.audio-player-buttons > *:hover {
    color: #1db954;
}

.audio-player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%
}


.audio-player-current-song {
    display: flex;
    justify-content: center;
    animation: moveAndDisappear 10s linear infinite;
    /* animation: moveAndDisappear 5s ease-in-out infinite; */
  }

  @keyframes moveAndDisappear {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      transform: translateX(-20px);
      opacity: 1;
    }
    100% {
      transform: translateX(-40px);
      opacity: 0;
    }
  }
  